
:root{
  --sidebar:#000000;
  --sidebar-light:#161b22;
  --text:#e6edf3;
  --primary:#ef4444;
  --primary-light:#f87171;
  --radius:12px;
  font-family:Inter, system-ui;
}

*{margin:0;padding:0;box-sizing:border-box}
body{
  background:#f8fafc;
  /* display:flex; */
  min-height:100vh;
  color:#111827;
}

/* SIDEBAR */
.sidebar{
  width:230px;
  background:var(--sidebar);
  color:var(--text);
  padding:22px 16px;
  display:flex;
  flex-direction:column;
  gap:16px;
  position:fixed;
  height:100vh;
  overflow-y:auto;
  scrollbar-width:thin;
  border-right:1px solid #1f2937;
}

.brand{
  font-size:22px;
  font-weight:700;
  text-align:center;
  margin-bottom:16px;
  color:var(--primary-light);
}

.menu-item{
  padding:12px 12px;
  background:#111;
  border-radius:var(--radius);
  cursor:pointer;
  color:#cbd5e1;
  font-size:15px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border:1px solid #ef4444;
  transition:0.2s;
}

.menu-item:hover{background:#ef4444;color:white;}
.active{background:#ef4444;color:white;font-weight:700;}

.menu-left{
  display:flex;
  align-items:center;
  gap:10px;
}

.menu-left i{
  width:18px;
  height:18px;
  stroke-width:2;
}

/* SUBMENU */
.submenu{
  display:none;
  margin-left:14px;
}
.submenu div{
  padding:8px 10px;
  margin-top:4px;
  color:#d4d7dd;
  border-radius:8px;
  cursor:pointer;
  font-size:14px;
}
.submenu div:hover{
  background:#1f2937;
  color:var(--primary-light);
}

/* HEADER */
header{
  margin-left:230px;
  width:calc(100% - 230px);
  background:white;
  padding:16px 24px;
  box-shadow:0 2px 4px rgba(0,0,0,0.05);
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  top:0;
  z-index:20;
}

.badge{
  position:absolute;
  top:-6px;
  right:-10px;
  background:#ef4444;
  color:white;
  font-size:10px;
  padding:2px 6px;
  border-radius:50%;
}

/* MAIN */
main{
  margin-left:230px;
  /* padding:110px 40px 30px;  */

   padding:110px 40px 30px; 
}

h1{font-size:26px;margin-bottom:20px;color:#111827}

/* .grid{
  display:grid;
  grid-template-columns:repeat(12,1fr);
  gap:20px;
} */
.col-3{grid-column:span 3}
.col-6{grid-column:span 6}

.card{
  background:white;
  padding:20px;
  border-radius:var(--radius);
  border:1px solid #e5e7eb;
  box-shadow:0 2px 8px rgba(0,0,0,0.06);
}
.card h3{margin-bottom:8px;color:#0f172a}
.card p{font-size:22px;font-weight:700;color:#334155}

button{
  background:var(--primary);
  color:white;
  padding:12px 16px;
  border:none;
  border-radius:10px;
  margin-top:10px;
  cursor:pointer;
  font-size:15px;
  font-weight:600;
}
button:hover{background:var(--primary-light);}

input{
  width:100%;
  padding:10px;
  border:1px solid #d1d5db;
  border-radius:8px;
  margin-bottom:10px;
  font-size:14px;
}

    /* Two column row */
.row{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.form-card{
  background:white;
  padding:30px;
  width:100%;
  border-radius:16px;
  border:1px solid #e5e7eb;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
}


.form-group{
  display:flex;
  flex-direction:column;
}

.form-group label{
  font-size:14px;
  font-weight:600;
  margin-bottom:6px;
  color:#374151;
}

.form-group input{
  padding:12px;
  border:1px solid #d1d5db;
  border-radius:10px;
  font-size:14px;
  transition:0.2s;
  background:#f9fafb;
}
.form-group select{
  padding:12px;
  border:1px solid #d1d5db;
  border-radius:10px;
  font-size:14px;
  transition:0.2s;
  background:#f9fafb;
}
.form-group input:focus{
  border-color:#ef4444;
  outline:none;
  box-shadow:0 0 0 3px rgba(239,68,68,0.2);
}

form button{
  width:100px;
  margin-top:16px;
  margin-left: 50%;
  padding:14px;
  background:#ef4444;
  color:white;
  font-size:16px;
  font-weight:600;
  border:none;
  border-radius:12px;
  cursor:pointer;
  transition:0.2s;
  
}

form button:hover{
  background:#f87171;
}

/* Mobile responsive */
@media(max-width:768px){
  .row{
    grid-template-columns:1fr;
  }
}

.table-card{
  background:white;
  padding:20px;
  border-radius:12px;
  border:1px solid #e5e7eb;
  margin-top:20px;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

table{
  width:100%;
  border-collapse:collapse;
  font-size:15px;
}

table thead{
  background:#ef4444;
  color:white;
}

table th, table td{
  padding:12px 10px;
  border-bottom:1px solid #e5e7eb;
  text-align:left;
}

table tbody tr:hover{
  background:#f9fafb;
}

.action-buttons{
  display:flex;
  gap:12px;
}

.action-buttons span{
  cursor:pointer;
  padding:6px;
  border-radius:8px;
  transition:0.2s;
}

.edit-btn:hover{
  background:#dbeafe;   /* Light Blue */
  color:#1d4ed8;
}

.delete-btn:hover{
  background:#fee2e2;  /* Light Red */
  color:#dc2626;
}

.action-buttons i{
  width:18px;
  height:18px;
}






/* SIDEBAR */


.brand{
  font-size:22px;
  font-weight:700;
  text-align:center;
  margin-bottom:16px;
  color:var(--primary-light);
}

.menu-item{
 padding: 12px 12px;
  background:#111;
  border-radius:var(--radius);
  cursor:pointer;
  color:#cbd5e1;
  font-size:15px;
  display:flex;
  align-items:center;

  border:1px solid #ef4444;
  transition:0.2s;
  text-decoration: none;
          text-align:center;
}

.menu-item:hover{background:#ef4444;color:white;}
.active{background:#ef4444;color:white;font-weight:700;}

.menu-left{
 
  align-items:center;
  text-align: center;
  gap:10px;
  text-decoration: none;
  font-size:15px;
display: flex;
  justify-content:center;
   color:#cbd5e1;
}

.menu-left i{
  width:18px;
  height:18px;
  stroke-width:2;
}

/* SUBMENU */
.submenu{
  display:none;
  margin-left:14px;
}
.submenu div{
  padding:8px 10px;
  margin-top:4px;
  color:#d4d7dd;
  border-radius:8px;
  cursor:pointer;
  font-size:14px;
 
}
.submenu div:hover{
  background:#1f2937;
  color:var(--primary-light);
}
.menu-link{
 padding:12px 12px ;
 margin-top: 10px;
  background:#111;
  border-radius:var(--radius);
  cursor:pointer;
  color:#cbd5e1;
  font-size:13px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border:1px solid #ef4444;
  transition:0.2s;
 text-decoration: none;

}
.menu-link1{
 padding:12px 12px ;
 margin-top: 10px;
  background:#111;
  border-radius:var(--radius);
  cursor:pointer;
  color:#cbd5e1;
  font-size:15px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border:1px solid #ef4444;
  transition:0.2s;
 text-decoration: none;

}
.menu-link:hover{background:#ef4444;color:white;}
.active{background:#ef4444;color:white;font-weight:500;}
/* HEADER */
header{
  margin-left:230px;
  width:calc(100% - 230px);
  background:white;
  padding:16px 24px;
  box-shadow:0 2px 4px rgba(0,0,0,0.05);
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  top:0;
  z-index:20;
}

.badge{
  position:absolute;
  top:-6px;
  right:-10px;
  background:#ef4444;
  color:white;
  font-size:10px;
  padding:2px 6px;
  border-radius:50%;
}

/* MAIN */
main{
  margin-left:230px;
  padding:110px 26px 30px;
}

h1{font-size:26px;margin-bottom:20px;color:#111827}

.grid{
  display:grid;
  grid-template-columns:repeat(12,1fr);
  gap:20px;
}
.col-3{grid-column:span 3}
.col-6{grid-column:span 6}

.card{
  background:white;
  padding:20px;
  border-radius:var(--radius);
  border:1px solid #e5e7eb;
  box-shadow:0 2px 8px rgba(0,0,0,0.06);
}
.card h3{margin-bottom:8px;color:#0f172a}
.card p{font-size:22px;font-weight:700;color:#334155}

button{
  background:var(--primary);
  color:white;
  padding:12px 16px;
  border:none;
  border-radius:10px;
  margin-top:10px;
  cursor:pointer;
  font-size:15px;
  font-weight:600;
  width: 100px;
}
button:hover{background:var(--primary-light);}

input{
  width:100%;
  padding:10px;
  border:1px solid #d1d5db;
  border-radius:8px;
  margin-bottom:10px;
  font-size:14px;
}

.form-card select {
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    font-size: 14px;
    background: #f9fafb;
    width: 100%;
    margin-bottom: 10px;
    transition: 0.2s;
    color: #374151;
}

.form-card select:focus {
    border-color: #ef4444;
    outline: none;
    box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2);
}